/**
General
 */
html {
  font-size: 14px;
}

body {
  font-family: 'Raleway',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  font-size: 14px;
  background: #FFFFFF;
  line-height: 1.618;
  color: #000000;
}

h1, h2, h3, h4 {
  font-family: 'IM Fell Great Primer SC', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  text-align: center;
  font-weight: normal;
}

h3 {
  font-size: 4.5rem;
  margin: 2.5rem 0;
  line-height: 1;
}

h4 {
  font-family: 'Raleway',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
}

a {
  color: #000;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

section {
  margin-bottom: 7rem;
}

.container {
  max-width: 90rem;
  margin: 5rem auto 0;
}

button.ui.button {
  font-family: 'IM Fell Great Primer SC', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  height: 4.43rem;
  background: #99DDF7;
  border: 1px solid #5CC9F3;
  color: #000000;
  font-size: 1.5rem;
  font-weight: normal;
}

button.ui.button:hover {
  background-color: #99DDF7;
  color: #FFFFFF;
}

button.ui.button.active, button.ui.button.active:hover {
  background-color: #FFFFFF;
  color: #0085B8;
}

/*
Main Menu
 */
nav {
  font-family: 'IM Fell Great Primer SC', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  font-size: 1.8rem;
  color: #000;
  margin-bottom: 2.5rem;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

nav ul li {
  padding-left: 4.3rem;
}

.logo {
  position: absolute;
  top: 4rem;
}

.active {
  color: #2A9DC9;
}

/*
Summoning
 */
.summoning-container {
  font-family: 'IM Fell Great Primer SC', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  font-size: 1.8rem;
  text-align: center;
}

/*
Home
 */
.banner {
  position: relative;
  margin-bottom: 8rem;
}

.banner img {
  margin-left: -7rem;
}

.banner button.ui.button {
  width: 21rem;
  position: absolute;
  bottom: 10rem;
  left: 33rem;
}

#home a:hover {
  color: #FFFFFF;
}

#home section {
  text-align: center;
}

.home-endless-clash {
  position: relative;
}

.home-endless-clash button {
  position: absolute;
  left: 35rem;
  bottom: 7rem;
}

.home-leaderboard {
  position: relative;
}

.home-leaderboard a {
  position: absolute;
  left: 36.5rem;
  top: 35rem;
}

/*
Footer
 */
footer {
  text-align: center;
  font-weight: 200;
  font-style: italic;
  margin-bottom: 5rem;
}

footer img {
  margin-bottom: 1rem;
}

/*
Battle
*/
#battle, #results {
  margin-top: 7rem;
}

#battle h3, #results h3 {
  margin-bottom: 5rem;
}

.battle-username-container {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
}

.player-wrapper {
  height: 28rem;
  width: 20rem;
  border: 1px solid #D8D8D8;
  border-radius: 10px;
  background-color: #F0F0F0;
  padding: 1.7rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.player-wrapper:first-of-type {
  margin-right: 1.8rem;
}

.player-wrapper:last-of-type {
  margin-left: 1.8rem;
}

.player-wrapper:hover {
  box-shadow: 0 0 6px #5CC9F3;
}

.player-wrapper form {
  margin-bottom: 1rem;
}

.player-wrapper label, .player-preview-title {
  font-family: 'IM Fell Great Primer SC', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  font-size: 1.6rem;
  display: block;
}

.player-wrapper input[type=text] {
  font-family: 'Raleway',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  font-weight: 600;
  padding-left: 0.5rem;
  width: 15rem;
  height: 2rem;
  border: 1px solid #D8D8D8;
  background-color: #FFFFFF;
  margin-bottom: 1rem;
}

.confirm-cancel-icon {
  position: absolute;
  bottom: 1rem;
  left: 8rem;
  cursor: pointer;
}

.player-wrapper input + p {
  font-style: italic;
}

.player-preview-image-wrapper {
  height: 14rem;
  position: relative;
}

.player-preview-image-wrapper img {
  max-width: 100%;
  min-height: 100%;
  border-radius: 50%;
}

.fight-container {
  display: flex;
  justify-content: center;
}

/*
Battle/Results
 */
.battle-username-container .user-info-container {
  align-items: flex-end;
}

.swords-icon-container {
  width: 14rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-sword {
  margin-right: auto;
}

.right-sword {
  margin-left: auto;
}

.player-profile-container {
  font-weight: 300;
  width: 10rem;
}

.battle-again-container {
  display: flex;
  justify-content: center;
}

.won-crown {
  background: url('images/won-crown.png') no-repeat;
  width: 29px;
  height: 18px;
  position: absolute;
  top: -1rem;
  left: 7.2rem;
}

/*
Leaderboard
 */
#leaderboard {
  margin-top: 10rem;
}
.subheading {
  font-weight: 200;
  font-style: italic;
  text-align: center;
  margin-bottom: 3.5rem;
}

#leaderboard h3 {
  margin-bottom: 2.5rem;
}

.select-language-group-container {
  margin-bottom: 4.14rem;
}

.select-language-group-container button.ui.button {
  width: 13.21rem;
}

#leaderboard .table-wrapper table {
  border: none;
}

#leaderboard th {
  font-family: 'IM Fell Great Primer SC', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  font-size: 1.8rem;
  background: #FFFFFF;
  border: none;
  text-align: center;
}

#leaderboard td {
  text-align: center;
}

.leaderboard-first-repo {
  background: #5CC9F3;
}

.leaderboard-second-repo {
  background: #99DDF7;
}

.leaderboard-third-repo {
  background: #D0F2FF;
}

.leaderboard-mid-repos {
  background: #F0F0F0;
}

.leaderboard-rank {
  font-family: 'IM Fell Great Primer SC', -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  font-size: 1.8rem;
}

.leaderboard-username-container {
  text-align: left;
}

.leaderboard-avatar-container {
  width: 3rem;
  display: inline-block;
}

.avatar {
  width: 3rem;
  height: auto;
  border-radius: 50%;
  vertical-align: middle;
}

.leaderboard-username {
  padding-left: 0.8rem;
  font-weight: 600;
  font-size: 1.43rem;
}

.leaderboard-footnotes {
  text-align: center;
}

.leaderboard-footnotes p {
  text-align: right;
  font-style: italic;
  margin-bottom: 4rem;
}

.leaderboard-footnotes button.ui.button {
  width: 21rem;
}